<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NeoTree Dashboard</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpeg') }}">
    </head>
    <body style="margin: 0vh 0vw; padding: 0px;overflow:hidden;">
        <div style="width:100vw;text-align:center;height:100vh;">
            <img id="imageHolder" style=""  src="/assets/images/screenshots/malawi-example-visualisation-1.png">
        </div>
    </body>
    <script>
            var currentIndex = 0;
            var images = []
            {% for image_name in image_list %}
                images.push("{{image_name}}")
            {% endfor %}

            function refreshImage(){
                currentIndex = ((currentIndex + 1) >= images.length ? 0 : currentIndex + 1)
                document.getElementById("imageHolder").src = "/assets/images/screenshots/"+ images[currentIndex]
                return true;
            }

            function reloadPage(){
                window.location = "/"
            }

            setInterval("refreshImage()",3000)
            setInterval("reloadPage()",60000)

    </script>
</html>