<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NeoTree Dashboard</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpeg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/app.css') }}">
    </head>
    <body style="">
        <div id="mainContainer" class="mainContainer">
            <div class="titleText">NeoTree Dashboard</div>
        </div>
    </body>
    <script type="text/javascript">
            var currentIndex = 0;
            var cycle = 1
            var images = []
            {% for image_name in image_list %}
                images.push("{{image_name}}")
            {% endfor %}

            function refreshImage(){
                console.log("refreshing")
                if( images.length > 0){
                    if ((currentIndex + 1) >= images.length)
                    {
                        cycle += 1
                        currentIndex = 0
                    }
                    else {
                        currentIndex += 1
                    }

                    document.getElementById("mainContainer").innerHTML = "<img style='height:100vh;width:100vw;' src="+ "/assets/images/screenshots/"+ images[currentIndex] + ">"

                }
                else {
                    cycle += 1
                }

                if (cycle > parseInt({{ config["refresh_rate"] }})){
                    reloadPage()
                }

                return true;
            }

            function reloadPage(){
                window.location = "/"
            }

            setInterval("refreshImage()",1000*parseInt({{ config["display_time"] }}))
    </script>
</html>